.profile {
  padding: 34px 0 20px;
  display: flex;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  max-width: 420px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgba(33, 33, 33, 1);
}

.profile__description {
  margin: 0;
  max-width: 505px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgba(33, 33, 33, 1);
}

.profile__edit-btn {
  margin-top: auto;
  margin-right: auto;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  display: flex;
  gap: 8px;
  border: none;
  background-color: transparent;
  color: rgba(33, 33, 33, 1);
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  width: 149px;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

.profile__add-btn-img {
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    padding-top: 20px;
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    max-width: 288px;
    margin: 0 0 32px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    justify-content: center;
    margin: 0;
  }
}
